<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
            <li class="uk-active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/register">Create Account</a>
            </li>
            <li>
                <a href="/signin">Sign In</a>
            </li>
        </ul>
    </div>
</div>