<!DOCTYPE html>
<html lang="en-us" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{pageTitle}} | Diamong King Collectibles</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <link rel="stylesheet" href="vendor/uikit-2/css/uikit.min.css">
        <script src="vendor/jquery-2.1.4/jquery.min.js"></script>
        <script src="vendor/uikit-2/js/uikit.min.js"></script>
    </head>

    <body class="{{template}}">

        {{{body}}}

    </body>
</html>